<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>お勤め先の入力</title>

    <script src="/assets/js/metrixir.client.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label error-list" th:if="${form.hasErrors()}">
                                <li class="error-list" th:each="error : ${form.jobFormName}" th:if="${form.hasErrors(error.key)}" th:text="'【' + ${form.userFormName[error.key]} + '】 ' + ${form.getErrors().get(error.key)}"></li>
                            </ul>

                            <div class="ui horizontal divider">お勤め先について</div>

                            <div class="ui teal message">ご職業が「経営・自営業」、「会社員」、「契約・派遣社員」、「公務員」、「民間団体」、「その他（有職）」の方は、以下の項目をご入力ください</div>

                            <div class="field" th:classappend="${form.hasErrors('employerName')} ? 'error'">
                                <label>お勤め先名</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerName')}">
                                    <li class="error-list" th:text="${form.getErrors().get('employerName')}"></li>
                                </ul>
                                <input type="text" name="employerName" placeholder="＜例＞東西商事株式会社" th:value="${form.employerName}"/>
                            </div>
                            <!--<div class="field" th:classappend="${form.hasErrors('employerZipCode')} ? 'error'">
                                <label>お勤め先郵便番号</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerZipCode')}">
                                    <li class="error-list" th:each="error : ${form.getErrors().entrySet()}" th:text="${error.key} == 'employerZipCode' ? ${error.value}"></li>
                                </ul>
                                <input type="text" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            </div>-->
                            <div class="field">
                                <label>お勤め先郵便番号</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerZipCode0') or form.hasErrors('employerZipCode1')}">
                                    <li class="error-list" th:if="${form.hasErrors('employerZipCode0')}" th:text="${form.getErrors().get('employerZipCode0')}"></li>
                                    <li class="error-list" th:if="${(not form.hasErrors('employerZipCode0')) and form.hasErrors('employerZipCode1')}" th:text="${form.getErrors().get('employerZipCode1')}"></li>
                                </ul>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="employerZipCode0" placeholder="012" th:value="${form.employerZipCode0}">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="employerZipCode1" placeholder="3456" th:value="${form.employerZipCode1}">
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employerAddress')} ? 'error'">
                                <label>お勤め先住所</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerAddress')}">
                                    <li class="error-list" th:text="${form.getErrors().get('employerAddress')}"></li>
                                </ul>
                                <input type="text" name="employerAddress" placeholder="＜例＞東京都新宿区西新宿8-17-1" th:value="${form.employerAddress}"/>
                            </div>
                            <!--<div class="field" th:classappend="${form.hasErrors('employerPhoneNumber')} ? 'error'">
                                <label>お勤め先電話番号</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerPhoneNumber')}">
                                    <li class="error-list" th:each="error : ${form.getErrors().entrySet()}" th:text="${error.key} == 'employerPhoneNumber' ? ${error.value}"></li>
                                </ul>
                                <input type="text" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            </div>-->
                            <div class="field">
                                <label>お勤め先電話番号</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employerPhoneNumber0') or form.hasErrors('employerPhoneNumber1') or form.hasErrors('employerPhoneNumber2')}">
                                    <li class="error-list" th:if="${form.hasErrors('employerPhoneNumber0')}" th:text="${form.getErrors().get('employerPhoneNumber0')}"></li>
                                    <li class="error-list" th:if="${(not form.hasErrors('employerPhoneNumber0')) and form.hasErrors('employerPhoneNumber1')}" th:text="${form.getErrors().get('employerPhoneNumber1')}"></li>
                                    <li class="error-list" th:if="${((not form.hasErrors('employerPhoneNumber0')) and (not form.hasErrors('employerPhoneNumber1'))) and form.hasErrors('employerPhoneNumber2')}" th:text="${form.getErrors().get('employerPhoneNumber2')}"></li>
                                </ul>
                                <div class="three fields">
                                    <div class="field">
                                        <input type="text" name="employerPhoneNumber0" placeholder="012" th:value="${form.employerPhoneNumber0}">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="employerPhoneNumber1" placeholder="3456" th:value="${form.employerPhoneNumber1}">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="employerPhoneNumber2" placeholder="7890" th:value="${form.employerPhoneNumber1}">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="field" th:classappend="${form.hasErrors('industryType')} ? 'error'">
                                <label>業種</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('industryType')}">
                                    <li class="error-list" th:each="error : ${form.getErrors().entrySet()}" th:text="${error.key} == 'industryType' ? ${error.value}"></li>
                                </ul>
                                <input type="radio" name="industryType" value="農林水鉱" th:checked="${form.industryType}=='農林水鉱'"/>農業・林業・水産業・鉱業
                                <input type="radio" name="industryType" value="建築不動産" th:checked="${form.industryType}=='建築不動産'"/>建設・不動産業
                                <input type="radio" name="industryType" value="製造" th:checked="${form.industryType}=='製造'"/>製造業
                                <input type="radio" name="industryType" value="卸小売流通" th:checked="${form.industryType}=='卸小売流通'"/>卸売業・小売・その他流通業
                                <input type="radio" name="industryType" value="金融保険" th:checked="${form.industryType}=='金融保険'"/>金融・保険業
                                <input type="radio" name="industryType" value="運輸通信" th:checked="${form.industryType}=='運輸通信'"/>運輸・通信業
                                <input type="radio" name="industryType" value="電気ガス" th:checked="${form.industryType}=='電気ガス'"/>電気・ガス業
                                <input type="radio" name="industryType" value="官公庁" th:checked="${form.industryType}=='官公庁'"/>官公庁
                                <input type="radio" name="industryType" value="サービス" th:checked="${form.industryType}=='サービス'"/>その他サービス業
                                <input type="radio" name="industryType" value="その他" th:checked="${form.industryType}=='その他'"/>その他・不明
                            </div>-->

                            <div class="field">
                                <label>業種</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('industryType')}">
                                    <li class="error-list" th:text="${form.getErrors().get('industryType')}"></li>
                                </ul>
                                <select>
                                    <option value="農林水鉱" th:checked="${form.industryType}=='農林水鉱'">農業・林業・水産業・鉱業</option>
                                    <option value="建築不動産" th:checked="${form.industryType}=='建築不動産'">建設・不動産業</option>
                                    <option value="製造" th:checked="${form.industryType}=='製造'">製造業</option>
                                    <option value="卸小売流通" th:checked="${form.industryType}=='卸小売流通'">卸売業・小売・その他流通業</option>
                                    <option value="金融保険" th:checked="${form.industryType}=='金融保険'">金融・保険業</option>
                                    <option value="運輸通信" th:checked="${form.industryType}=='運輸通信'">運輸・通信業</option>
                                    <option value="電気ガス" th:checked="${form.industryType}=='電気ガス'">電気・ガス業</option>
                                    <option value="官公庁" th:checked="${form.industryType}=='官公庁'">官公庁</option>
                                    <option value="サービス" th:checked="${form.industryType}=='サービス'">その他サービス業</option>
                                    <option value="その他" th:checked="${form.industryType}=='その他'">その他・不明</option>
                                </select>
                            </div>

                            <!--<div class="field" th:classappend="${form.hasErrors('capital')} ? 'error'">
                                <label>資本金</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('capital')}">
                                    <li class="error-list" th:each="error : ${form.getErrors().entrySet()}" th:text="${error.key} == 'capital' ? ${error.value}"></li>
                                </ul>
                                <input type="radio" name="capital" th:field="*{form.capital}" value="999" th:checked="${form.capital}=='999'"/>１千万円未満
                                <input type="radio" name="capital" th:field="${form.capital}" value="4999" th:checked="${form.capital}=='4999'"/>１千万円以上５千万円未満
                                <input type="radio" name="capital" th:field="${form.capital}" value="29999" th:checked="${form.capital}=='29999'"/>５千万円以上３億円未満
                                <input type="radio" name="capital" th:field="${form.capital}" value="30000" th:checked="${form.capital}=='30000'"/>３億円以上
                                <input type="radio" name="capital" th:field="${form.capital}" value="0" th:checked="${form.capital}=='0'"/>その他
                            </div>-->

                            <div class="field">
                                <label>資本金</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('capital')}">
                                    <li class="error-list" th:text="${form.getErrors().get('capital')}"></li>
                                </ul>
                                <select>
                                    <option name="capital" th:field="*{form.capital}" value="999" th:checked="${form.capital}=='999'">１千万円未満</option>
                                    <option name="capital" th:field="${form.capital}" value="4999" th:checked="${form.capital}=='4999'">１千万円以上５千万円未満</option>
                                    <option name="capital" th:field="${form.capital}" value="29999" th:checked="${form.capital}=='29999'">５千万円以上３億円未満</option>
                                    <option name="capital" th:field="${form.capital}" value="30000" th:checked="${form.capital}=='30000'">３億円以上</option>
                                    <option name="capital" th:field="${form.capital}" value="0" th:checked="${form.capital}=='0'">その他</option>
                                </select>
                            </div>

                            <!--<div class="field" th:classappend="${form.hasErrors('companySize')} ? 'error'">
                                <label>お勤め先の規模（従業員数）</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('companySize')}">
                                    <li class="error-list" th:each="error : ${form.getErrors().entrySet()}" th:text="${error.key} == 'companySize' ? ${error.value}"></li>
                                </ul>
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="9" th:checked="${form.companySize}=='9'"/>１０名未満
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="29" th:checked="${form.companySize}=='29'"/>１０名以上３０名未満
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="49" th:checked="${form.companySize}=='49'"/>３０名以上５０名未満
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="99" th:checked="${form.companySize}=='99'"/>５０名以上１００名未満
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="499" th:checked="${form.companySize}=='499'"/>１００名以上５００名未満
                                <input type="radio" name="companySize" th:field="${form.companySize}" value="500" th:checked="${form.companySize}=='500'"/>５００名以上
                            </div>-->

                            <div class="field">
                                <label>お勤め先の規模（従業員数）</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('companySize')}">
                                    <li class="error-list" th:text="${form.getErrors().get('companySize')}"></li>
                                </ul>
                                <select>
                                    <option name="companySize" th:field="${form.companySize}" value="9" th:checked="${form.companySize}=='9'">１０名未満</option>
                                    <option name="companySize" th:field="${form.companySize}" value="29" th:checked="${form.companySize}=='29'">１０名以上３０名未満</option>
                                    <option name="companySize" th:field="${form.companySize}" value="49" th:checked="${form.companySize}=='49'">３０名以上５０名未満</option>
                                    <option name="companySize" th:field="${form.companySize}" value="99" th:checked="${form.companySize}=='99'">５０名以上１００名未満</option>
                                    <option name="companySize" th:field="${form.companySize}" value="499" th:checked="${form.companySize}=='499'">１００名以上５００名未満</option>
                                    <option name="companySize" th:field="${form.companySize}" value="500" th:checked="${form.companySize}=='500'">５００名以上</option>
                                </select>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('department')} ? 'error'">
                                <label>所属部署</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('department')}">
                                    <li class="error-list" th:text="${form.getErrors().get('department')}"></li>
                                </ul>
                                <input type="text" name="department" th:value="${form.department}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('position')} ? 'error'">
                                <label>役職</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('position')}">
                                    <li class="error-list" th:text="${form.getErrors().get('position')}"></li>
                                </ul>
                                <input type="text" name="position" th:value="${form.position}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('employeeLength')} ? 'error'">
                                <label>勤続年数</label>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('employeeLength')}">
                                    <li class="error-list" th:text="${form.getErrors().get('employeeLength')}"></li>
                                </ul>
                                <input type="text" class="number" name="employeeLength" th:value="${form.employeeLength}"/><span class="unit">年</span >
                            </div>

                            <!--/*"ご本人"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="kanjiName" th:value="${form.kanjiName}"/>
                            <input type="hidden" name="kanaName" th:value="${form.kanaName}"/>
                            <input type="hidden" name="alphabetName" th:value="${form.alphabetName}"/>
                            <input type="hidden" name="gender" th:value="${form.gender}"/>
                            <input type="hidden" name="yearOfBirth" th:value="${form.yearOfBirth}"/>
                            <input type="hidden" name="monthOfBirth" th:value="${form.monthOfBirth}"/>
                            <input type="hidden" name="dayOfBirth" th:value="${form.dayOfBirth}"/>
                            <input type="hidden" name="zipCode0" th:value="${form.zipCode0}"/>
                            <input type="hidden" name="zipCode1" th:value="${form.zipCode1}"/>
                            <input type="hidden" name="address" th:value="${form.address}"/>
                            <input type="hidden" name="homePhoneNumber0" th:value="${form.homePhoneNumber0}"/>
                            <input type="hidden" name="homePhoneNumber1" th:value="${form.homePhoneNumber1}"/>
                            <input type="hidden" name="homePhoneNumber2" th:value="${form.homePhoneNumber2}"/>
                            <input type="hidden" name="mobilePhoneNumber0" th:value="${form.mobilePhoneNumber0}"/>
                            <input type="hidden" name="mobilePhoneNumber1" th:value="${form.mobilePhoneNumber1}"/>
                            <input type="hidden" name="mobilePhoneNumber2" th:value="${form.mobilePhoneNumber2}"/>
                            <input type="hidden" name="emailAddress" th:value="${form.emailAddress}"/>
                            <input type="hidden" name="spouse" th:value="${form.spouse}"/>
                            <input type="hidden" name="houseClassification" th:value="${form.houseClassification}"/>
                            <input type="hidden" name="debt" th:value="${form.debt}"/>
                            <input type="hidden" name="income" th:value="${form.income}"/>
                            <input type="hidden" name="job" th:value="${form.job}"/>

                            <div class="ui column grid">
                                <div class="eight wide column left aligned">
                                    <!--/*戻る場合、formの送り先を強制的に書き換える*/-->
                                    <button class="ui button angle left icon" onclick="form.action='/cardOrder/modify';return true">戻る</button>
                                </div>
                                <div class="eight wide column right aligned">
                                    <button class="ui teal button angle right icon">カードを申し込む</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
