<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/user">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label error-list" th:if="${form.hasErrors()}">
                                <li class="error-list" th:each="error : ${form.userFormName}" th:if="${form.hasErrors(error.key)}" th:text="'【' + ${form.userFormName[error.key]} + '】 ' + ${form.getErrors().get(error.key)}"></li>
                            </ul>

                            <div class="ui horizontal divider">ご本人について</div>

                            <div class="field" th:classappend="${form.hasErrors('kanjiName')} ? 'error'">
                                <span><label>お名前（漢字）</label><font color = "red">*必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('kanjiName')}">
                                    <li class="error-list" th:text="${form.getErrors().get('kanjiName')}"></li>
                                </ul>
                                <input type="text" name="kanjiName" placeholder="＜例＞山本一郎" th:value="${form.kanjiName}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('kanaName')} ? 'error'">
                                <span><label>お名前（カナ）</label><font color = "red">*必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('kanaName')}">
                                    <li class="error-list" th:text="${form.getErrors().get('kanaName')}"></li>
                                </ul>
                                <input type="text" name="kanaName" placeholder="＜例＞ヤマモトイチロウ" th:value="${form.kanaName}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('alphabetName')} ? 'error'">
                                <span><label>お名前（ローマ字）</label><font color = "red">*必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('alphabetName')}">
                                    <li class="error-list" th:text="${form.getErrors().get('alphabetName')}"></li>
                                </ul>
                                <input type="text" name="alphabetName" placeholder="＜例＞YAMAMOTO ICHIRO" th:value="${form.alphabetName}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <span><label>性別</label><font color = "red"> *必須</font></span>
                                <br>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('gender')}">
                                    <li class="error-list" th:text="${form.getErrors().get('gender')}"></li>
                                </ul>
                                <input type="radio" name="gender" value="male" th:checked="${form.gender}=='male'"/>男性
                                <input type="radio" name="gender" value="female" th:checked="${form.gender}=='female'"/>女性
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('dateOfBirth')} ? 'error'">
                                <span><label>生年月日</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('dateOfBirth')}">
                                    <li class="error-list" th:text="${form.getErrors().get('dateOfBirth')}"></li>
                                </ul>
                                <input type="text" name="dateOfBirth" th:value="${form.dateOfBirth}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <span><label>郵便番号 (必須)</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('zipCode')}">
                                    <li class="error-list" th:text="${form.getErrors().get('zipCode')}"></li>
                                </ul>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="zipCode0" placeholder="012"/>
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="zipCode1" placeholder="3456"/>
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <span><label>ご住所</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('address')}">
                                    <li class="error-list" th:text="${form.getErrors().get('address')}"></li>
                                </ul>
                                <input type="text" name="address" placeholder="＜例＞５－４東西マンションA棟１０１" th:value="${form.address}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <span><label>自宅電話番号</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('homePhoneNumber')}">
                                    <li class="error-list" th:text="${form.getErrors().get('homePhoneNumber')}"></li>
                                </ul>
                                <div class="three fields">
                                    <div class="field">
                                        <input type="text" name="homePhoneNumber0" placeholder="012">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="homePhoneNumber1" placeholder="3456">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="homePhoneNumber2" placeholder="7890">
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <span><label>携帯電話番号</label></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('mobilePhoneNumber')}">
                                    <li class="error-list" th:text="${form.getErrors().get('mobilePhoneNumber')}"></li>
                                </ul>
                                <div class="three fields">
                                    <div class="field">
                                        <input type="text" name="mobilePhoneNumber0" placeholder="012">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="mobilePhoneNumber1" placeholder="3456">
                                    </div>
                                    -
                                    <div class="field">
                                        <input type="text" name="mobilePhoneNumber2" placeholder="7890">
                                    </div>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <span><label>メールアドレス</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('emailAddress')}">
                                    <li class="error-list" th:text="${form.getErrors().get('emailAddress')}"></li>
                                </ul>
                                <input type="text" name="emailAddress" placeholder="＜例＞yamamoto.ichiro@tiscon.co.jp" th:value="${form.emailAddress}"/>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <span><label>配偶者有無</label><font color = "red"> *必須</font></span>
                                <br>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('spouse')}">
                                    <li class="error-list" th:text="${form.getErrors().get('spouse')}"></li>
                                </ul>
                                <input type="radio" name="spouse" value="1" th:checked="${form.spouse}=='1'"/>配偶者あり
                                <input type="radio" name="spouse" value="0" th:checked="${form.spouse}=='0'"/>配偶者なし
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <span><label>お住まい</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('houseClassification')}">
                                    <li class="error-list" th:text="${form.getErrors().get('houseClassification')}"></li>
                                </ul>
                                <select>
                                    <option name="houseClassification" value="自己所有" th:checked="${form.houseClassification}=='自己所有'">本人名義の一戸建・マンション</option>
                                    <option name="houseClassification" value="家族所有" th:checked="${form.houseClassification}=='家族所有'">家族名義の一戸建・マンション</option>
                                    <option name="houseClassification" value="社宅" th:checked="${form.houseClassification}=='社宅'">社宅</option>
                                    <option name="houseClassification" value="公営" th:checked="${form.houseClassification}=='公営'">公営住宅</option>
                                    <option name="houseClassification" value="賃貸" th:checked="${form.houseClassification}=='賃貸'">賃貸マンション</option>
                                    <option name="houseClassification" value="借家" th:checked="${form.houseClassification}=='借家'">借家</option>
                                    <option name="houseClassification" value="アパート" th:checked="${form.houseClassification}=='アパート'">アパート</option>
                                    <option name="houseClassification" value="寮下宿" th:checked="${form.houseClassification}=='寮下宿'">寮・下宿</option>
                                    <option name="houseClassification" value="その他" th:checked="${form.houseClassification}=='その他'">その他</option>
                                </select>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <span><label>ローン等のお借り入れ金額</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('debt')}">
                                    <li class="error-list" th:text="${form.getErrors().get('debt')}"></li>
                                </ul>
                                <input type="text" class="number" name="debt" placeholder="＜例＞300" th:value="${form.debt}"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <span><label>昨年の所得</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('income')}">
                                    <li class="error-list" th:text="${form.getErrors().get('income')}"></li>
                                </ul>
                                <input type="text" class="number" name="income" placeholder="＜例＞300" th:value="${form.income}"/><span class="unit">万円</span>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'">
                                <span><label>ご職業</label><font color = "red"> *必須</font></span>
                                <ul class="ui red basic label error-list" th:if="${form.hasErrors('job')}">
                                    <li class="error-list" th:text="${form.getErrors().get('job')}"></li>
                                </ul>
                                <select>
                                    <option name="job" value="経営自営" th:checked="${form.job}=='経営自営'">経営・自営業</option>
                                    <option name="job" value="会社員" th:checked="${form.job}=='会社員'">会社員</option>
                                    <option name="job" value="契約派遣" th:checked="${form.job}=='契約派遣'">契約・派遣社員</option>
                                    <option name="job" value="公務員" th:checked="${form.job}=='公務員'">公務員</option>
                                    <option name="job" value="民間団体" th:checked="${form.job}=='民間団体'">民間団体</option>
                                    <option name="job" value="主婦" th:checked="${form.job}=='主婦'">主婦</option>
                                    <option name="job" value="学生" th:checked="${form.job}=='学生'">学生</option>
                                    <option name="job" value="年金受給" th:checked="${form.job}=='年金受給'">年金受給者の方</option>
                                    <option name="job" value="パートアルバイト" th:checked="${form.job}=='パートアルバイト'">パート・アルバイト</option>
                                    <option name="job" value="他有職" th:checked="${form.job}=='他有職'">その他 (有職）</option>
                                    <option name="job" value="他無職" th:checked="${form.job}=='他無職'">その他（無職）</option>
                                </select>
                            </div>

                            <!--/*"お勤め先"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="employerName" th:value="${form.employerName}"/>
                            <input type="hidden" name="employerZipCode" th:value="${form.employerZipCode}"/>
                            <input type="hidden" name="employerAddress" th:value="${form.employerAddress}"/>
                            <input type="hidden" name="employerPhoneNumber" th:value="${form.employerPhoneNumber}"/>
                            <input type="hidden" name="industryType" th:value="${form.industryType}"/>
                            <input type="hidden" name="capital" th:value="${form.capital}"/>
                            <input type="hidden" name="companySize" th:value="${form.companySize}"/>
                            <input type="hidden" name="department" th:value="${form.department}"/>
                            <input type="hidden" name="position" th:value="${form.position}"/>
                            <input type="hidden" name="employeeLength" th:value="${form.employeeLength}"/>

                            <button class="ui fluid teal button">次へ（お勤め先情報の入力）</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
